-# in app/views/movies/same_director.html.haml

%h2 Movies with the same director 
- @movies.each do |m|
  %h2 #{m.title}
  %ul
    %li
      Rating: #{m.rating}
    %li
      Released on: #{m.release_date}
    %li
      Director: #{m.director}
    %p #{m.description}

=link_to "Back to home page", movies_path  
